@use "sass:map";
@import "/src/style/pages/theme";

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: calc(100vh - 100px);
  padding-bottom: 50px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.CustomSection {
  width: 300px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    color: #262626;
    font-size: 24px;
    font-weight: 600;
  }

  p {
    color: #656567;
    font-size: 16px;
    margin-top: 10px;
  }
}

.Login {
  width: 660px;
  padding: 50px;
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;

  @media (max-width: 768px) {
    width: 90%;
    padding: 20px;
  }
}

.TextContainer {
  width: 100%;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  .Heading {
    color: #262626;
    font-size: 48px;
    font-weight: 600;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 36px;
    }
  }

  .Paragraph {
    color: #4c4c4d;
    font-size: 18px;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}

.Form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .InputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .InputField {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 14px;

      .Label {
        color: #262626;
        font-size: 18px;
        font-weight: 500;
      }

      .EmailInput,
      .PasswordInput {
        width: 100%;
        padding: 16px;
        border-radius: 10px;
        border: 1px solid #f1f1f3;
        font-size: 18px;
        color: #656567;

        @media (max-width: 768px) {
          padding: 12px;
          font-size: 16px;
        }
      }

      .PasswordField {
        position: relative;
        width: 100%;

        .ShowPasswordIcon {
          position: absolute;
          top: 50%;
          right: 16px;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }

    .ForgotPassword {
      align-self: flex-end;
      color: #4c4c4d;
      font-size: 18px;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    .CheckboxContainer {
      display: flex;
      align-items: center;
      gap: 10px;

      label {
        color: #656567;
        font-size: 18px;

        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
    }

    .LoginButton {
      width: 100%;
      padding: 18px;
      background-color: map.get($theme-color, "main");
      color: white;
      font-size: 18px;
      font-weight: 500;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(map.get($theme-color, "main"), 10%);
      }

      @media (max-width: 768px) {
        padding: 16px;
        font-size: 16px;
      }
    }
  }

  .Divider {
    display: flex;
    align-items: center;
    gap: 12px;

    .Line {
      flex: 1;
      border-color: #e4e4e7;
    }

    .OrText {
      color: #98989a;
      font-size: 18px;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }

  .GoogleLoginButton {
    width: 100%;
    padding: 20px;
    background: #f7f7f8;
    border: 1px solid #f1f1f3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;

    .GoogleLoginText {
      color: #262626;
      font-size: 18px;
      font-weight: 500;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    &:hover {
      background-color: rgb(192, 192, 192);
    }
  }

  .SignupPrompt {
    text-align: center;
    color: #262626;
    font-size: 18px;

    .SignUpLink {
      font-weight: 500;
      text-decoration: underline;
    }

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}
