@use "sass:map";
@import "/src/style/pages/theme";

.container-aboutus {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  text-align: left;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.achievements,
.goals {
  margin-bottom: 40px;
}

.achievements h2,
.goals h2 {
  margin-bottom: 20px;
  text-align: left;
}

.achievement-cards,
.goal-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  //   grid-template-columns: repeat(2, 1fr);
  //   gap: 5px;
}

.card {
  width: 200px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: map.get($theme-color, "sub-main");
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

.quote p {
  font-style: italic;
  margin: 0;
}

.join-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-btn:hover {
  background-color: #0056b3;
}
