//common theme style
$theme-color: (
  "main": #87a2ff,
  "sub-main": #c4d7ff,
  "sub2-main": #ffd7c4,
  "sub3-main": #fff485,
);
$theme-font: (
  "main": "Roboto",
  "sub": "Be Vietnam Pro",
);

$theme-click-btn: (
  "hover": #bcbfc8,
  "active": #87a2ff,
);
